<% layout('layouts/boilerplate') %>

    <div class="col-6 offset-3 mt-3">
        <div class="card border-secondary mb-3">
            <div class="card-header">
                <h3>
                    <%= thisSupplier.name %>
                </h3>
            </div>
            <div class="card-body text-secondary">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tbody id="objectTable">
                            <tr>
                                <td><strong>Contact Name :</strong></td>
                                <td colspan="2">
                                    <%= thisSupplier.contact %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Account Type :</strong></td>
                                <td colspan="2">
                                    <%= thisSupplier.accountType.code %> - <%= thisSupplier.accountType.name %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Applicable Taxes :</strong></td>
                                <td colspan="2">
                                    <%= thisSupplier.taxes %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Email :</strong></td>
                                <td colspan="2">
                                    <%= thisSupplier.email %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Website :</strong></td>
                                <td colspan="2">
                                    <%= thisSupplier.website %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Phone Number :</strong></td>
                                <td colspan="2">
                                    <%= thisSupplier.phone %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Cell :</strong></td>
                                <td colspan="2">
                                    <%= thisSupplier.cell %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Fax :</strong></td>
                                <td colspan="2">
                                    <%= thisSupplier.fax %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Notes :</strong></td>
                                <td colspan="2">
                                    <%= thisSupplier.notes %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Name on cheques :</strong></td>
                                <td colspan="2">
                                    <%= thisSupplier.chequeName %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Address :</strong></td>
                                <td colspan="2">
                                    <%= thisSupplier.addressStreet %> <br>
                                        <%= thisSupplier.addressCity %>, <%= thisSupplier.addressState %> <br>
                                                <%= thisSupplier.addressCode %> <br>
                                                    <%= thisSupplier.addressCountry %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="card-text">

                <form style="display:inline" action="/suppliers/<%= thisSupplier._id %>/edit" method="GET">
                    <button type="submit" formaction="/suppliers/<%= thisSupplier._id %>/edit"
                        class="btn btn-outline-info-subtle bg-info-subtle">Edit supplier</button>
                </form>
                <form style="display:inline" action="/suppliers/<%= thisSupplier._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-outline-info-subtle bg-danger">Delete supplier</button>
                </form><br><br>
                </p>

            </div>
            <div class="card-footer">
                <a href="/suppliers">Back to Suppliers</a>
            </div>
        </div>
    </div>