<nav class="navbar navbar-expand-lg bg-info">
    <div class="container-fluid">
        <a class="navbar-brand" style="color: white;" href="../">Ma'Moolah</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../">Home</a>
                </li>
                <li class="nav-item">
                    <% if (currentUser && !currentCompany) { %>
                        <a class="nav-link" aria-current="page"
                            href="/users/<%= currentUser._id %>/select">Companies</a>
                        <% } %>
                </li>
                <% if (currentCompany) { %>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Office
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/users/<%= currentUser._id %>/select">Companies</a></li>
                            <li><a class="dropdown-item" href="/clients">Clients</a></li>
                            <li><a class="dropdown-item" href="/suppliers">Suppliers</a></li>
                            <li><a class="dropdown-item" href="/invoices">Invoices</a></li>
                            <li><a class="dropdown-item" href="/transactions">Transactions</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/accounts">Accounts</a></li>
                            <li><a class="dropdown-item" href="/expenses">Expenses</a></li>
                            <li><a class="dropdown-item" href="/taxes">Taxes</a></li>
                            <li><a class="dropdown-item" href="/withdrawal">Withdrawal</a></li>
                            <li><a class="dropdown-item" href="/summaries">Summaries</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/company">Company</a></li>
                            <li><a class="dropdown-item" href="/rules">Rules</a></li>
                            <li><a class="dropdown-item" href="/people">People</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            INs
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/invoices">Invoices</a></li>
                            <li><a class="dropdown-item" href="/quotes">Quotes</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/products">Products / Services</a></li>
                            <li><a class="dropdown-item" href="/clients">Clients</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            OUTs
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/expenses">Job Expenses</a></li>
                            <li><a class="dropdown-item" href="/operation">Shop Operation</a></li>
                            <li><a class="dropdown-item" href="/payday">Pay Day</a></li>
                            <li><a class="dropdown-item" href="/taxes">Taxes</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/suppliers">Suppliers</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reminders">Reminders</a>
                    </li>
                    <% } %>
            </ul>
            <div class="navbar-nav ml-auto">
                <% if (!currentUser) { %>
                    <a href="/users/login" class="btn btn-outline-info-subtle bg-info-subtle me-3">Login</a>
                    <a href="/users/register" class="btn btn-outline-info-subtle bg-info-subtle">Register</a>
                    <% } else { %>
                        <% if (currentCompany) { %>
                            <a class="nav-link" aria-current="page" href="/companies/<%= currentCompany._id %>">
                                Company: <%= currentCompany.name %>
                            </a>
                            <% } %>
                                <a class="nav-link" aria-current="page" href="/users/<%= currentUser._id %>">
                                    User: <%= currentUser.firstName + " " + currentUser.lastName%>
                                </a>
                                <a href="/users/logout"
                                    class="btn btn-outline-info-subtle bg-info-subtle ms-3">Logout</a>
                                <% } %>
            </div>
            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-info-subtle bg-info-subtle" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>