<%- include('../partials/head') %>

    <%- include('../partials/navbar') %>

        <main class="container">
            <%- include('../partials/flash') %>

                <%- body %>

        </main>

        <%- include('../partials/footer') %>