<% layout('layouts/boilerplate') %>

    <div class="col-6 offset-3">
        <h1 class="mt-3 mb-3">
            Edit Account Infos
        </h1>
        <div class="card border-secondary mb-3">
            <div class="card-header">
                <h3>
                    <%= thisAccount.name %>
                </h3>
            </div>
            <div class="card-body text-secondary">

                <form action="/accounts/<%= thisAccount._id %>?_method=PUT" method="POST" novalidate
                    class="validated-form">
                    <div class="mb-3">
                        <label for="name" class="form-label">Account Name</label>
                        <input type="text" class="form-control" id="name" name="account[name]"
                            value="<%= thisAccount.name %>" required>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="isPrimary" class="form-label">Primary Account</label>
                        <input type="checkbox" class="form-check-input" id="isPrimary" name="account[isPrimary]"
                            value="true" <%=thisAccount.isPrimary==='true' ? 'checked' : '' %>>
                    </div>
                    <div class="mb-3">
                        <label for="Thank" class="form-label">Account Type</label>
                        <select class="form-control" id="type" name="account[type]" required>
                            <option value="" disabled>Select account type</option>
                            <option value="asset" <%=thisAccount.type==='asset' ? 'selected' : '' %>>Asset</option>
                            <option value="liability" <%=thisAccount.type==='liability' ? 'selected' : '' %>>Liability
                            </option>
                            <option value="equity" <%=thisAccount.type==='equity' ? 'selected' : '' %>>Equity</option>
                            <option value="income" <%=thisAccount.type==='income' ? 'selected' : '' %>>Income</option>
                            <option value="expense" <%=thisAccount.type==='expense' ? 'selected' : '' %>>Expense
                            </option>
                            <option value="cogs" <%=thisAccount.type==='cogs' ? 'selected' : '' %>>Cost of Goods Sold
                                (COGS)</option>
                        </select>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="accountUser" class="form-label">Account User</label>
                        <select class="form-control" id="accountUser" name="account[accountUser]">
                            <option value="" <%=thisAccount.accountUser===null ? 'selected' : '' %>>None</option>
                            <% users.forEach(user=> { %>
                                <option value="<%= user._id %>" <%=thisAccount.accountUser &&
                                    thisAccount.accountUser.toString()===user._id.toString() ? 'selected' : '' %>>
                                    <%= user.firstName %>
                                        <%= user.lastName %> (<%= user.email %>)
                                </option>
                                <% }) %>
                        </select>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="Thank" class="form-label">Account Sub-Type</label>
                        <select class="form-control" id="subType" name="account[subType]" required>
                            <option value="" disabled>Select account sub-type</option>
                            <option value="checking" <%=thisAccount.subType==='checking' ? 'selected' : '' %>>Checking
                            </option>
                            <option value="savings" <%=thisAccount.subType==='savings' ? 'selected' : '' %>>Savings
                            </option>
                            <option value="cash" <%=thisAccount.subType==='cash' ? 'selected' : '' %>>Cash</option>
                            <option value="ar" <%=thisAccount.subType==='ar' ? 'selected' : '' %>>Accounts Receivable
                            </option>
                            <option value="inventory" <%=thisAccount.subType==='inventory' ? 'selected' : '' %>
                                >Inventory</option>
                            <option value="fixed_asset" <%=thisAccount.subType==='fixed_asset' ? 'selected' : '' %>
                                >Fixed Asset</option>
                            <option value="prepaid" <%=thisAccount.subType==='prepaid' ? 'selected' : '' %>>Prepaid
                            </option>
                            <option value="credit_card" <%=thisAccount.subType==='credit_card' ? 'selected' : '' %>
                                >Credit Card</option>
                            <option value="tax" <%=thisAccount.subType==='tax' ? 'selected' : '' %>>Tax</option>
                            <option value="mortgage" <%=thisAccount.subType==='mortgage' ? 'selected' : '' %>>Mortgage
                            </option>
                            <option value="loan" <%=thisAccount.subType==='loan' ? 'selected' : '' %>>Loan</option>
                            <option value="capital" <%=thisAccount.subType==='capital' ? 'selected' : '' %>>Capital
                            </option>
                            <option value="drawings" <%=thisAccount.subType==='drawings' ? 'selected' : '' %>>Drawings
                            </option>
                            <option value="retained" <%=thisAccount.subType==='retained' ? 'selected' : '' %>>Retained
                            </option>
                            <option value="sales" <%=thisAccount.subType==='sales' ? 'selected' : '' %>>Sales</option>
                            <option value="service" <%=thisAccount.subType==='service' ? 'selected' : '' %>>Service
                            </option>
                            <option value="interest" <%=thisAccount.subType==='interest' ? 'selected' : '' %>>Interest
                            </option>
                            <option value="rental" <%=thisAccount.subType==='rental' ? 'selected' : '' %>>Rental
                            </option>
                            <option value="refund" <%=thisAccount.subType==='refund' ? 'selected' : '' %>>Refund
                            </option>
                            <option value="rent_expense" <%=thisAccount.subType==='rent_expense' ? 'selected' : '' %>
                                >Rent Expense</option>
                            <option value="utilities" <%=thisAccount.subType==='utilities' ? 'selected' : '' %>
                                >Utilities</option>
                            <option value="office_supplies" <%=thisAccount.subType==='office_supplies' ? 'selected' : ''
                                %>>Office Supplies</option>
                            <option value="salaries" <%=thisAccount.subType==='salaries' ? 'selected' : '' %>>Salaries
                            </option>
                            <option value="payroll_tax" <%=thisAccount.subType==='payroll_tax' ? 'selected' : '' %>
                                >Payroll Tax</option>
                            <option value="employee_benefits" <%=thisAccount.subType==='employee_benefits' ? 'selected'
                                : '' %>>Employee Benefits</option>
                            <option value="advertising" <%=thisAccount.subType==='advertising' ? 'selected' : '' %>
                                >Advertising</option>
                            <option value="seo" <%=thisAccount.subType==='seo' ? 'selected' : '' %>>SEO</option>
                            <option value="travel" <%=thisAccount.subType==='travel' ? 'selected' : '' %>>Travel
                            </option>
                            <option value="meals" <%=thisAccount.subType==='meals' ? 'selected' : '' %>>Meals</option>
                            <option value="bank_fees" <%=thisAccount.subType==='bank_fees' ? 'selected' : '' %>>Bank
                                Fees</option>
                            <option value="loan_interest" <%=thisAccount.subType==='loan_interest' ? 'selected' : '' %>
                                >Loan Interest</option>
                            <option value="cc_fees" <%=thisAccount.subType==='cc_fees' ? 'selected' : '' %>>Credit Card
                                Fees</option>
                            <option value="cloud" <%=thisAccount.subType==='cloud' ? 'selected' : '' %>>Cloud</option>
                            <option value="software" <%=thisAccount.subType==='software' ? 'selected' : '' %>>Software
                            </option>
                            <option value="maintenance" <%=thisAccount.subType==='maintenance' ? 'selected' : '' %>
                                >Maintenance</option>
                            <option value="repairs" <%=thisAccount.subType==='repairs' ? 'selected' : '' %>>Repairs
                            </option>
                            <option value="raw_material" <%=thisAccount.subType==='raw_material' ? 'selected' : '' %>
                                >Raw Material</option>
                            <option value="labor" <%=thisAccount.subType==='labor' ? 'selected' : '' %>>Labor</option>
                            <option value="shipping" <%=thisAccount.subType==='shipping' ? 'selected' : '' %>>Shipping
                            </option>
                            <option value="factory" <%=thisAccount.subType==='factory' ? 'selected' : '' %>>Factory
                            </option>
                            <option value="packaging" <%=thisAccount.subType==='packaging' ? 'selected' : '' %>
                                >Packaging</option>
                            <option value="other" <%=thisAccount.subType==='other' ? 'selected' : '' %>>Other</option>
                        </select>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="code" class="form-label">Code</label>
                        <input type="number" class="form-control" id="code" name="account[code]"
                            value="<%= thisAccount.code %>" required>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">Description</label>
                        <input type="text" class="form-control" id="description" name="account[description]"
                            value="<%= thisAccount.description %>" required>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="balance" class="form-label">Starting Balance</label>
                        <input type="number" class="form-control" id="balance" name="account[balance]"
                            value="<%= thisAccount.balance %>" step="0.01" required>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="currency" class="form-label">Currency</label>
                        <input type="text" class="form-control" id="currency" name="account[currency]"
                            value="<%= thisAccount.currency %>" required>
                        <div class="valid-feedback">
                            Thank you!
                        </div>
                    </div>
                    <br>
                    <button class="btn btn-outline-info-subtle bg-info-subtle">Update account infos</button>
                </form>

            </div>
            <div class="card-footer">
                <a href="/accounts/<%= thisAccount._id %>">Cancel</a>
            </div>
        </div>
    </div>