<% layout('layouts/boilerplate') %>

    <div class="col-6 offset-3">
        <h1>Charter Of Accounts (COA)
        </h1>
        <div class="card" mb-3>
            <div class="row">

                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title"><a href="/accounts/New">Add new account</a></h5>
                        <p class="card-text">
                        <ul>
                            <% for (let account of accounts){%>
                                <% if (account.companyId && currentCompany &&
                                    account.companyId.toString()===currentCompany._id.toString() &&
                                    account.isPrimary==="true" ) { %>
                                    <li>
                                        <a href="../accounts/<%= account._id %>">
                                            <%= account.code %> - <%= account.name %><br>

                                        </a>
                                    </li>
                                    <% } %>
                                        <% }%>
                        </ul>
                        <ul>
                            <% for (let account of accounts){%>
                                <% if (account.companyId && currentCompany &&
                                    account.companyId.toString()===currentCompany._id.toString() &&
                                    account.isPrimary===null ) { %>
                                    <li>
                                        <a href="../accounts/<%= account._id %>">
                                            <%= account.code %> - <%= account.name %><br>

                                        </a>
                                    </li>
                                    <% } %>
                                        <% }%>
                        </ul>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>