<% layout('layouts/boilerplate') %>

    <div class="col-6 offset-3 mt-3">
        <div class="card border-secondary mb-3">
            <div class="card-header">
                <h3>
                    <%= thisAccount.name %>
                </h3>
            </div>
            <div class="card-body text-secondary">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <tbody id="objectTable">
                            <tr>
                                <td><strong>Account Name :</strong></td>
                                <td colspan="2">
                                    <%= thisAccount.name %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Balance :</strong></td>
                                <td colspan="2">
                                    <%= thisAccount.balance %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Account Type :</strong></td>
                                <td colspan="2">
                                    <%= thisAccount.type %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Account Type :</strong></td>
                                <td colspan="2">
                                    <%= thisAccount.subType %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Code :</strong></td>
                                <td colspan="2">
                                    <%= thisAccount.code %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Description :</strong></td>
                                <td colspan="2">
                                    <%= thisAccount.description %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Currency :</strong></td>
                                <td colspan="2">
                                    <%= thisAccount.currency %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Owned by :</strong></td>
                                <td colspan="2">
                                    <%= thisAccount.companyId.name %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Created on :</strong></td>
                                <td colspan="2">
                                    <%= thisAccount.createdAt %>
                                </td>
                            </tr>
                            <tr>
                                <td><strong>Last Updated :</strong></td>
                                <td colspan="2">
                                    <%= thisAccount.updatedAt %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <p class="card-text">

                <form style="display:inline" action="/accounts/<%= thisAccount._id %>/edit" method="GET">
                    <button class="btn btn-outline-info-subtle bg-info-subtle">Edit account</button>
                </form>
                <form style="display:inline" action="/accounts/<%= thisAccount._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-outline-info-subtle bg-danger">Delete account</button>
                </form><br><br>
                </p>

            </div>
            <div class="card-footer">
                <a href="/accounts">Back to Accounts</a>
            </div>
        </div>
    </div>